//! **************************************************************************
// Written by: Map P.20131013 on Wed Sep 19 19:50:58 2018
//! **************************************************************************

SCHEMATIC START;
COMP "y" LOCATE = SITE "M5" LEVEL 1;
COMP "AA" LOCATE = SITE "M11" LEVEL 1;
COMP "a" LOCATE = SITE "P11" LEVEL 1;
COMP "BB" LOCATE = SITE "P7" LEVEL 1;
COMP "b" LOCATE = SITE "L3" LEVEL 1;
SCHEMATIC END;

